
body {
  font-family: Arial, sans-serif;
}

.breed-select {
  display: block;
  width: 200px; 
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  overflow: hidden; 
}

.cat-info {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.cat-info img {
  width: 350px;
  border: solid #3e3434 1px;
  border-radius: 5px;
}

.cat-info h2 {
  color: #111010;
  font-size: 24px;
}

.cat-info p {
  color: #1d1b1b;
  font-size: 18px;
}

.loader {
  display: block;
  margin: auto;
  margin-top: 100px;
  background-color: #3e3434;
  width: 80px;
  height: 80px;
  border:10px solid #FFF;
  border-radius: 50%;
  position: relative;
  transform:rotate(45deg);
  box-sizing: border-box;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.1), 0px 1px 10px;
}
.loader::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  inset:-10px;
  border-radius: 50%;
  border:10px solid #FF3D00;
  animation: prixClipFix 1500ms infinite linear;
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.error {
  display: none;
}

.ss-content .ss-list {
  max-height: 300px; 
  overflow-y: auto; 
}

.breed-select.ss-main {
  width: 200px; 
}


  

